In [1]:
import pandas as pd

In [2]:
import sqlite3
import csv

In [3]:
connection = sqlite3.connect('S30 ETL Assignment.db')

In [4]:
cursor = connection.execute("select customers.customer_id, cast(sum(orders.quantity) as int) as Total_Quantity, items.item_name, customers.age from customers inner join sales on customers.customer_id = sales.customer_id inner join orders on sales.sales_id = orders.sales_id inner join items on items.item_id = orders.item_id where (customers.age between 18 and 32) and (orders.quantity is not null) group by customers.customer_id, items.item_name, customers.age order by customers.customer_id;")

In [5]:
for row in cursor:
    print(row)

(5, 3, 'x', 18)
(5, 3, 'y', 18)
(5, 4, 'z', 18)
(7, 14, 'x', 30)
(7, 19, 'y', 30)
(7, 10, 'z', 30)
(9, 5, 'x', 25)
(9, 2, 'y', 25)
(9, 4, 'z', 25)
(16, 5, 'x', 19)
(16, 4, 'y', 19)
(16, 8, 'z', 19)
(22, 5, 'x', 18)
(22, 5, 'y', 18)
(22, 3, 'z', 18)
(28, 3, 'x', 21)
(28, 1, 'z', 21)
(29, 5, 'x', 30)
(29, 12, 'y', 30)
(29, 12, 'z', 30)
(31, 6, 'x', 22)
(31, 7, 'y', 22)
(31, 12, 'z', 22)
(34, 5, 'x', 22)
(34, 6, 'y', 22)
(34, 5, 'z', 22)
(35, 3, 'x', 20)
(35, 5, 'y', 20)
(35, 2, 'z', 20)
(41, 2, 'x', 21)
(41, 4, 'y', 21)
(41, 6, 'z', 21)
(50, 2, 'y', 31)
(50, 1, 'z', 31)
(58, 5, 'x', 30)
(58, 2, 'y', 30)
(58, 4, 'z', 30)
(59, 7, 'x', 24)
(59, 4, 'y', 24)
(59, 5, 'z', 24)
(68, 5, 'x', 32)
(68, 5, 'y', 32)
(68, 3, 'z', 32)
(70, 5, 'x', 29)
(70, 6, 'y', 29)
(70, 1, 'z', 29)
(78, 9, 'x', 19)
(78, 8, 'y', 19)
(78, 3, 'z', 19)
(79, 5, 'x', 26)
(79, 4, 'y', 26)
(79, 7, 'z', 26)
(80, 5, 'x', 23)
(80, 5, 'y', 23)
(80, 6, 'z', 23)
(90, 6, 'x', 19)
(90, 3, 'y', 19)
(90, 5, 'z', 19)
(97, 2, 'x', 23)
(97, 2, 'y', 23)
(97, 3, 'z', 23)
(100, 1, 'x', 30)
(100, 1, 'y', 30)
(100, 5, 'z', 30)

In [6]:
cursor.execute("select customers.customer_id, cast(sum(orders.quantity) as int) as Total_Quantity, items.item_name, customers.age from customers inner join sales on customers.customer_id = sales.customer_id inner join orders on sales.sales_id = orders.sales_id inner join items on items.item_id = orders.item_id where (customers.age between 18 and 35) and (orders.quantity is not null) group by customers.customer_id, items.item_name, customers.age order by customers.customer_id;")
with open("sql_result.csv", "w",newline='') as csv_file:
    csv_writer = csv.writer(csv_file, delimiter=";")
    csv_writer.writerow([i[0] for i in cursor.description])
    csv_writer.writerows(cursor)